.intro {
  background-color: #2c2640;
}

.conteudo {
  padding: 1.5rem;
}
h2,
h3 {
  color: #ffffff;
}

.intro p {
  font-size: 1.5em;
  color: #828282;
}
.btn-color {
  background-color: #00df5e;
}

.btn-transp:hover {
  border: 2px solid #00df5e;
  color: #00df5e;
}

.btn-transp {
  border: 2px solid #828282;
  color: #828282;
}

a .btn-transp {
  color: #00df5e;
}

.about p {
  padding: 1em 0;
  line-height: 2em;
  margin: 0 auto;
  width: 720px;
  color: #828282;
  text-align: center;
  font-size: 1em;
}

.icon {
  text-align: center;
}

.titulo {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.subtitulo {
  color: #828282;
  text-align: center;
}

.subtitulo a {
  text-decoration: none;
  color: #828282;
}
