.intro {
  padding: 3em 0 5em 0;
}

.conteudo {
  margin: 4rem 0;
}
h2,
h3 {
  color: #ffffff;
}

.intro p {
  font-size: 1.5em;
  color: #828282;
}

.img-intro {
  margin-right: 2.5em;
}

@media screen and (max-width: 720px) {
  .intro {
    padding: 2em 0 3em 0;
  }

  .img-intro {
    margin-right: 0;
  }
}

.apresentacao {
  margin-bottom: 2em;
}

.btn-color {
  background-color: #00df5e;
}

.btn-transp:hover {
  border: 2px solid #00df5e;
  color: #00df5e;
}

.btn-transp {
  border: 2px solid #828282;
  color: #828282;
}

a .btn-transp {
  color: #00df5e;
}

.about {
  padding-top: 3em;
}

.about p {
  padding: 1em 0;
  line-height: 2em;
  margin: 0 auto;
  color: #828282;
  font-size: 1em;
}

.about-me {
  width: 50%;
  margin: 0 auto;
}

.about-me a {
  text-decoration: none;
  color: #828282;
}

.about-me a:hover {
  color: #00df5e;
}

@media screen and (max-width: 720px) {
  .about-me {
    width: 100%;
  }
}

.icon {
  text-align: center;
}

.titulo {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.subtitulo {
  color: #828282;
  text-align: center;
}

.subtitulo a {
  text-decoration: none;
  color: #828282;
}

.card-projeto {
  color: #212121;
  width: 350px;
  margin: 0 auto;
}

.titulo-projeto {
  color: #ffffff;
  font-size: 1.75em;
}

.projeto img {
  width: 100%;
}

.dados-projeto {
  color: #828282;
}

.servicos {
  background-color: #212529;
  margin-bottom: 30px;
}

.card-servicos {
  width: 350px;
  height: 200px;
  background-color: #212121;
  border: 0.5px solid #2c2640;
  border-bottom: 3px solid #00df5e;
  margin: 0 auto 2em auto;
  padding: 1em;
}

.card-servicos img {
  margin: 1em 0;
}

.card-servicos h3 {
  padding-top: 1em;
  color: #828282;
}

.card-skills {
  width: 150px;
  height: 150px;
  background-color: #212121;
  margin: 0 auto 2em auto;
}

.card-skills img {
  display: block;
  margin: 30px auto;
}

.footer {
  padding: 0.75em;
  background-color: #212121;
  text-align: center;
}

footer p {
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #00df5e;
}
